#helpHu, #helpDe, #helpEn {
  width: 40%;
  padding: 20px 0;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
}

body {
  font-family: Arial, Helvetica, sans-serif !important;
}

p {
  font-size: 13px;
}

button,input[type=file]::file-selector-button {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 8px;
  font-size: 11px;
  border: none;
  outline: none;
  background-color: #202020;
  color: white;
  cursor: pointer;
  padding: 8px;
  border-radius: 4px;
}

button:disabled,
button[disabled]{
  background-color: #c0c0c0;
}

input[type=file]::file-selector-button {
  margin-right: 8px;
}

a, button {
  font-family: Arial, Helvetica, sans-serif !important;
}

table {
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: x-small !important;
  border-collapse: collapse !important;
  width: 100%;
  height: max-content !important;
  line-height: 200% !important;
  overflow: visible !important;
}

td, th {
  border: 1px solid #ddd !important;
  padding: 8px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  padding-right: 3px !important;
  padding-left: 3px !important;
  background-image:none !important;
}

tr:nth-child(even){background-color: #f1f2f7}

tr:hover {background-color: #ddd}

th {
  padding-top: 12px !important;
  padding-bottom: 12px !important;
  text-align: left !important;
  background-color: #555655 !important;
  color: white !important;
  font-weight: bold !important;
}

h2 {
  text-align: center;
}

hr {
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
} 

* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 4px;
  height: max-content !important;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  height: max-content !important;
}

.comparison-row:after {
  content: "";
  display: block;
  clear: both;
  height: max-content !important;
}

.dl-button {
  margin-left: auto !important;
  margin-right: auto !important;
  text-align: center !important;
}

#topButton {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #202020;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#topButton:hover {
  background-color: #555;
}

.fieldset {
  position: relative;
  border: 1px solid #ddd;
  padding: 10px;
  display: block;
}

.fieldset h1 {
  font-family: Arial, Helvetica, sans-serif !important;
  position: absolute;
  top: 0;
  font-size: 18px;
  line-height: 1;
  margin: -9px 0 0; /* half of font-size */
  background: #fff;
  padding: 0 3px;
}

.fieldset h2 {
  font-family: Arial, Helvetica, sans-serif !important;
  position: absolute;
  top: 0;
  font-size: 14px;
  line-height: 1;
  margin: -7px 0 0; /* half of font-size */
  background: #fff;
  padding: 0 3px;
}

checkbox {
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: small !important;
}
