#helpHu, #helpDe, #helpEn {
  width: 40%;
  padding: 20px 0;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
}

button {
  margin-top: 10px;
  margin-bottom: 10px;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-small;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
  font-weight: bold;
}

tr:nth-child(even){background-color: #f1f2f7;}

tr:hover {background-color: #ddd;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #f9faff;
  color: white;
}

hr { 
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
} 

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  background-color: #111;
}

.right {
  right: 0;
  background-color: #2222;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
